
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body{
    background-color: #161414;
}
*{
    font-family: pacifico;
}
img{
    width: 300px;
    z-index: 100;
    margin-left: -8px;
}
input{
    cursor: pointer;
}
button{
    cursor: pointer;
}
.home-con{
    width: 300px;
    position: relative;
    margin: 100px auto;
    height: 100vh;
}
.btn-up{
    height: 40px;
    margin: 4px;
    font-size: 20px;
    top: 40%;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: lightgray;
}
.btn-up6{
    height: 40px;
    margin: 4px;
    font-size: 20px;
    top: 40%;
    color: white;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: rgb(44, 43, 43);
}
.math{
    height: 40px;
    margin: 4px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    text-align: center;
    width: 40px;
    border-radius: 50%;
    border: none;
    color: white;
    background-color: rgb(129, 189, 18);
}
.img-con{
    width: 289px;
    height: 95vh;
    border-radius: 50px;
}
.number-con{
     margin-top: -350px;
     margin-left: 45px;
     margin-bottom: 10px;
}
.number-con2{
    margin-left: 45px;
    margin-bottom: 10px;
}

.btn-combine{
    width: 100px;
    background-color: rgb(129, 189, 18);
    color: white;
    font-size: 20px;
    border: none;
    padding-right: 65px;
    border-radius: 50px;
    height: 40px;
}

.result{
    top: 23%;
    position: absolute;
    margin-left: 120px;
}
.result2{
    width: 100px;
    outline: none;
    background-color:  #161414;
    right: 5px;
    border: none;
    height: 100px;
    color: rgb(129, 189, 18);
    margin-left: 20px;
}

.result2:name{
    color: white;
}
.number-con8{
    margin-top: -350px;
    margin-left: 45px;
    margin-bottom: 10px;
}
.link{
 position: absolute;
 margin-left: 210px;
 top: 5%;
}
.linker{
 position: absolute;
 margin-left: 40px;
 top: 5%;
}
i{
    color: white;
    font-size: 10px;
}
p{
    color: white;
    margin-left: 120px;
    margin-top: -17px;
}
@media screen and (max-width: 320px) {
    .number-con{
        margin-top: -270px;
    }
    
    .number-con8{
        margin-top: -270px;
    }
    
}